@model AMC_THEATER_1.Models.TRN_REGISTRATION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRN_REGISTRATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.T_ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_OWNER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_OWNER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_OWNER_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_OWNER_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_OWNER_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_OWNER_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_COMMENCEMENT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_COMMENCEMENT_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_ZONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_ZONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_WARD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_WARD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_TENAMENT_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_TENAMENT_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_PEC_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_PEC_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_PRC_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_PRC_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_TAX_PAYING_OFFLINE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_TAX_PAYING_OFFLINE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFLINE_TAX_PAYMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFLINE_TAX_PAYMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFLINE_TAX_PAID_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFLINE_TAX_PAID_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFLINE_DUE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFLINE_DUE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELETE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELETE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETE_USER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.T_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
